<html>
{{#each foo}}
{{this}}
{{/each}}
<nav>
    <div class="topnav">
        <a class="active" , href="#" onclick="change_page('/')">Home</a>
        <a href="#" onclick="change_page('/parks')">Parks</a>
        <a href="#" onclick="change_page('/rides')">Rides</a>
        <a href="#" onclick="change_page('/guests')">Guests</a>
        <a href="#" onclick="change_page('/ridesrating')">Ride Ratings</a>
        <a href="#" onclick="change_page('/guestride')">Guest Rides</a>
    </div>
</nav>
<div class="center">
    <h3>Guest Rides in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Guest Ride</p>
</div>

<table class="center">
    <thead>
        <th>Guest Name</th>
        <th>Guest ID</th>
        <th>Ride</th>
        <th>Ride ID</th>
    </thead>
    <tbody>
        {{#each guestride}}
        <td>{{guestName}}</td>
        <td>{{guestID}}</td>
        <td>{{rideName}}</td>
        <td>{{rideID}}</td>
        <td><button onclick="deleteGuestRide('{{guestrideID}}')">Remove</button></td>
        <td><a href="/guestride/{{guestrideIDurl}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addGuestRide" action="/guestride" method="post">
    <!-- Add dynamic selection for guest name, ride name -->
    Select Guest: <select name="guestID" required>
        <option value="" disabled selected>Please Select Guest</option>
        {{#each guests}}
        <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Select Ride: <select  name="rideID" required>
        <option value="" disabled selected>Please Select Ride</option>
        {{#each rides}}
                <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
</form>
{{#each duperr}}
    <p>{{this}}</p>
{{/each}}
<br>

<form id='search' action='' method=''>
    <label> Search Guests and Rides by Name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchGuestRide()">
</form>

</html>