<html>
{{#each foo}}
{{this}}
{{/each}}
<nav>
    <div class="topnav">
        <a class="active" , href="#" onclick="change_page('/')">Home</a>
        <a href="#" onclick="change_page('/parks')">Parks</a>
        <a href="#" onclick="change_page('/rides')">Rides</a>
        <a href="#" onclick="change_page('/guests')">Guests</a>
        <a href="#" onclick="change_page('/ridesrating')">Ride Ratings</a>
        <a href="#" onclick="change_page('/guestrides')">Guest Rides</a>
    </div>
</nav>
<div class="center">
    <h3>Guests in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Guest</p>
</div>

<table class="center">
    <thead>
        <th>Guest ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Height (feet)</th>
        <th>Height (inches)</th>
        <th>Park Name</th>
    </thead>
    <tbody>
        {{#each guests}}
        <td>{{guestID}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{age}}</td>
        <td>{{heightFeet}}</td>
        <td>{{heightInches}}</td>
        <td>{{name}}</td>
        <td><button onclick="deleteGuest({{guestID}})">Remove</button></td>
        <td><a href="/guests/{{guestID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addGuest" action="/guests" method="post">
    First Name: <input type="text" name="firstName" required><br>
    Last Name: <input type="text" name="lastName" required><br>
    Age: <input type="number" name="age" required><br>
    Height (feet): <input type="number" name="heightFeet" required><br>
    Height (inches): <input type="number" name="heightInches" required><br>
    Select Park:  <select id="park_selector" name="parkID" required>
        {{#each parks}}
            <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
</form>
<br>

{{!-- <form id='filter_guests' action='' method=''>
    <label> Filter by Guest</label>
    <select id='guests_filter' name="guests">
        {{#each guests}}
        <option value="{{guestID}}">{{guestID}} - {{firstName}} {{lastName}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterGuests()">
</form><br> --}}


<form id='search_guests' action='' method=''>
    <label> Search Guests by Last Name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''><br>
    <input type="button" value="Search" onclick="searchGuestsByLastName()">
</form>

</html>