<html>
<nav>
    <div class="topnav">
        <a class="active" , onclick="change_page('index.html')">Home</a>
        <a onclick="change_page('parks.html')">Parks</a>
        <a onclick="change_page('rides.html')">Rides</a>
        <a onclick="change_page('guests.html')">Guests</a>
        <a onclick="change_page('ridesrating.html')">RidesRating</a>
        <a onclick="change_page('guestrides.html')">GuestRides</a>
    </div>
    <script src="scripts/change_page.js"></script>
    <script src="scripts/filter.js"></script>
</nav>
<div class="center">
    <h3>Parks in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Park</p>
</div>

<table class="center">
    <thead>
        <th>parkID</th>
        <th>name</th>
        <th>maxOccupancy</th>
        <th>dateBuilt</th>
    </thead>
    <tbody>
        {{#each parks}}
        <td>{{parkID}}</td>
        <td>{{name}}</td>
        <td>{{maxOccupancy}}</td>
        <td>{{dateBuilt}}</td>
        <td><button onclick="deletePark({{parkID}})">Remove</button></td>
        <td><a href="/parks/{{parkID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addpark" action="/parks" method="post">
    Name: <input type="text" name="name"><br>
    Maximum Occupancy: <input type="number" name="maxOccupancy"><br>
    Date Built: <input type="date" name="dateBuilt"><br>
    <input type="submit" value="Submit">
</form>
<br>

<form id='search_parks' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Parks by name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchParksByName()">
</form>

</html>