<html>
{{#each foo}}
{{this}}
{{/each}}
<nav>
    <div class="topnav">
        <a class="active" , href="#" onclick="change_page('/')">Home</a>
        <a href="#" onclick="change_page('/parks')">Parks</a>
        <a href="#" onclick="change_page('/rides')">Rides</a>
        <a href="#" onclick="change_page('/guests')">Guests</a>
        <a href="#" onclick="change_page('/ridesrating')">Ride Ratings</a>
        <a href="#" onclick="change_page('/guestride')">Guest Rides</a>
    </div>
</nav>
<div class="center">
    <h3>Rides in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Ride</p>
</div>

<table class="center">
    <thead>
        <th>Ride ID</th>
        <th>Park Name</th>
        <th>Name</th>
        <th>Max Occupancy</th>
        <th>Date Built</th>
        <th>Length (seconds)</th>
        <th>Speed (MPH)</th>
        <th>Has Loop</th>
        <th>Height Restriction (feet)</th>
    </thead>
    <tbody>
        {{#each rides}}
            <td>{{rideID}}</td>
            <td>{{parkID}}</td>
            <td>{{name}}</td>
            <td>{{maxOccupancy}}</td>
            <td>{{dateBuilt}}</td>
            <td>{{lengthSeconds}}</td>
            <td>{{speedMPH}}</td>
            <td>{{hasLoop}}</td>
            <td>{{heightRestrictionFeet}}</td>
            <td><button onclick="deleteRide({{rideID}})">Remove</button></td>
            <td><a href="/rides/{{rideID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addride" action="/rides" method="post">
    In which Park: <select name="parkID">
        {{#each parks}}
        <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Name: <input type="text" name="name" required><br>
    Maximum Occupancy: <input type="number" name="maxOccupancy" required><br>
    Date Built: <input type="date" name="dateBuilt"><br>
    Length of ride (seconds): <input type="number" name="lengthSeconds" required><br>
    Speed MPH: <input type="number" name="speedMPH" required><br>
    Has a loop?: <input type="radio" id="loop" name="hasLoop" value="1" required><label for="loop">Yes</label><input type="radio" id="no_loop" name="hasLoop" value="0"><label for="no_loop">No</label><br>
    Height Restriction (feet): <input type="number" name="heightRestrictionFeet"><br>
    <input type="submit" value="Submit">
</form>
<br>

<form id='filter_rides' action="" method=''>
    <label> Filter by Park</label>
    <select id='parks_filter' name="parks">
        <option value='-1'>Please Select</option>
        {{#each parks}}
        <option value="{{parkID}}">{{parkID}} - {{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterRidesByParks()">
</form><br>

<form id='search_rides' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Rides by name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''><br>
    <input type="button" value="Search" placeholder="" onclick="searchRidesByName()">
</form>

</html>