<html>
<nav>
    <div class="topnav">
        <a class="active" , onclick="change_page('index.html')">Home</a>
        <a onclick="change_page('parks.html')">Parks</a>
        <a onclick="change_page('rides.html')">Rides</a>
        <a onclick="change_page('guests.html')">Guests</a>
        <a onclick="change_page('ridesrating.html')">RidesRating</a>
        <a onclick="change_page('guestrides.html')">GuestRides</a>
    </div>
    <script src="scripts/change_page.js"></script>
    <script src="scripts/filter.js"></script>
</nav>
<div class="center">
    <h3>Rides in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Ride</p>
</div>

<table class="center">
    <thead>
        <th>rideID</th>
        <th>parkID</th>
        <th>name</th>
        <th>maxOccupancy</th>
        <th>dateBuilt</th>
        <th>lengthSeconds</th>
        <th>speedMPH</th>
        <th>hasLoop</th>
        <th>heightRestrictionFeet</th>
    </thead>
    <tbody>
        {{#each rides}}
        <td>{{rideID}}</td>
        <td>{{parkID}}</td>
        <td>{{name}}</td>
        <td>{{maxOccupancy}}</td>
        <td>{{dateBuilt}}</td>
        <td>{{lengthSeconds}}</td>
        <td>{{speedMPH}}</td>
        <td>{{hasLoop}}</td>
        <td>{{heightRestrictionFeet}}</td>
        <td><button onclick="deleteRide({{rideID}})">Remove</button></td>
        <td><a href="/rides/{{rideID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addride" action="/rides" method="post">
    In which Park: <select name="parkID">
        {{#each parks}}
        <option value={{parkID}}>{{parkID}} - {{name}}</option>
        {{/each}}
    </select><br>
    Name: <input type="text" name="name"><br>
    Maximum Occupancy: <input type="number" name="maxOccupancy"><br>
    Date Built: <input type="date" name="dateBuilt"><br>
    Length of ride (seconds): <input type="number" name="lengthSeconds"><br>
    Speed MPH: <input type="number" name="speedMPH"><br>
    Has a loop?: <input type="radio" id="loop" name="hasLoop" value="1"><label for="loop">Yes</label><input type="radio" id="no_loop" name="hasLoop" value="0"><label for="no_loop">No</label><br>
    Height Restriction (feet): <input type="number" name="heightRestrictionFeet"><br>
    <input type="submit" value="Submit">
</form>
<br>

<form id='filter_rides' action='' method=''>
    <label> Filter by Park</label>
    <select id='parks_filter' name="parks">
        {{#each parks}}
        <option value="{{parkID}}">{{parkID}} - {{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterRidesByParks()">
</form><br>

<form id='search_rides' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Rides by name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchRidesByName()">
</form>

</html>