<html>
{{#each foo}}
{{this}}
{{/each}}
<nav>
    <div class="topnav">
        <a class="active" , href="#" onclick="change_page('index.html')">Home</a>
        <a href="#" onclick="change_page('/parks')">Parks</a>
        <a href="#" onclick="change_page('/rides')">Rides</a>
        <a href="#" onclick="change_page('/guests')">Guests</a>
        <a href="#" onclick="change_page('/ridesrating')">Ride Ratings</a>
        <a href="#" onclick="change_page('/guestrides')">Guest Rides</a>
    </div>
</nav>
<div class="center">
    <h3>Guest Ride Ratings in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Ride Rating</p>
</div>

<table class="center">
    <thead>
        <th>Ride Rating ID</th>
        <th>Guest Name</th>
        <th>Ride</th>
        <th>Rating Datetime</th>
        <th>Rating</th>
    </thead>
    <tbody>
        {{#each ridesrating}}
        <td>{{guestRideID}}</td>
        <td>{{guestName}}</td>
        <td>{{rideName}}</td>
        <td>{{rideDateTime}}</td>
        <td>{{ratingvalue}}</td>
        <td><button onclick="deleteGuestRide({{guestRideID}})">Remove</button></td>
        <td><a href="/guestrides/{{guestRideID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addGuestRide" action="/guestrides" method="post">
    <!-- Add dynamic selection for guest name, ride name, and toggle or star selection for rating -->
    Select Guest: <select id="guest_selector" name="guestID">
        {{#each guests}}
                <option value="{{id}}">{{firstName}} - {{lastName}} </option>
        {{/each}}
    </select><br>
    Select Ride: <select id="ride_selector" name="rideID">
        {{#each rides}}
                <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Rating: 
        {{!-- <div class="rating">
            <span><input type="radio" name="ratingValue" id="str5" value="5"><label for="str5"></label></span>
            <span><input type="radio" name="ratingValue" id="str4" value="4"><label for="str4"></label></span>
            <span><input type="radio" name="ratingValue" id="str3" value="3"><label for="str3"></label></span>
            <span><input type="radio" name="ratingValue" id="str2" value="2"><label for="str2"></label></span>
            <span><input type="radio" name="ratingValue" id="str1" value="1"><label for="str1"></label></span>
        </div><br> --}}
    <input type="submit" value="Submit">
</form>
<br>

<form id='filter_guests' action='' method=''>
    <label> Filter by Guest</label>
    <select id='guests_filter' name="guests">
        {{#each guests}}
        <option value="{{guestID}}">{{guestID}} - {{firstName}} {{lastName}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterGuests()">
</form><br>


<form id='search_guests' action='' method=''>
    <label> Search Guests by Last Name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchGuestsByLastName()">
</form>

<form id='filter_rides' action='' method=''>
    <label> Filter by Ride</label>
    <select id='rides_filter' name="rides">
        {{#each rides}}
        <option value="{{rideID}}">{{rideID}} - {{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterGuests()">
</form><br>


<form id='search_rides' action='' method=''>
    <label> Search Rides by Name:</label>
    <input id='ride_search_string' type='text' name='ride_search_string' value=''>
    <input type="button" value="Search" onclick="searchRidesByName()">
</form>

</html>