<html>
{{#each foo}}
{{this}}
{{/each}}
<nav>
    <div class="topnav">
        <a class="active" , href="#" onclick="change_page('/')">Home</a>
        <a href="#" onclick="change_page('/parks')">Parks</a>
        <a href="#" onclick="change_page('/rides')">Rides</a>
        <a href="#" onclick="change_page('/guests')">Guests</a>
        <a href="#" onclick="change_page('/ridesrating')">Ride Ratings</a>
        <a href="#" onclick="change_page('/guestrides')">Guest Rides</a>
    </div>
</nav>
<div class="center">
    <h3>Guest Ride Ratings in Disney World USA</h3>
</div>
<div class="center">
    <p>This page allows you to view, add, or update an existing Ride Rating</p>
</div>

<table class="center">
    <thead>
        <th>Ride Rating ID</th>
        <th>Guest Name</th>
        <th>Ride</th>
        <th>Rating Datetime</th>
        <th>Rating</th>
    </thead>
    <tbody>
        {{#each ridesrating}}
        <td>{{guestRideID}}</td>
        <td>{{guestName}}</td>
        <td>{{rideName}}</td>
        <td>{{rideDateTime}}</td>
        <td>{{ratingvalue}}</td>
        <td><button onclick="deleteRideRating({{guestRideID}})">Remove</button></td>
        <td><a href="/ridesrating/{{guestRideID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table><br><br>

<form id="addriderating" action="/ridesrating" method="post">
    <!-- Add dynamic selection for guest name, ride name -->
    Select Guest: <select name="guestID">
        {{#each guests}}
        <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Select Ride: <select  name="rideID">
        {{#each rides}}
                <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Ride DateTime: <input type="datetime-local" name="rideDateTime" required><br>
    Rating: <select name="ratingValue">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
    </select><br>
    <input type="submit" value="Submit">
</form>
<br>

<form id='search' action='' method=''>
    <label> Search Guests by Last Name:</label>
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchGuestsByLastNameRR()">
</form>

<form id='search' action='' method=''>
    <label> Search Rides by Name:</label>
    <input id='ride_search_string' type='text' name='ride_search_string' value=''>
    <input type="button" value="Search" onclick="searchRidesByNameRR()">
</form>

</html>