<html>
<h1>Update {{rides.name}}:</h1>
<form id="update-ride" action="/rides" method="post">
    Name: <input type="text" name="name" value="{{rides.name}}"><br>
    In which Park: <select name="parks" id="park-selector"><br>
        {{#each parks}}
        <option value="{{parkID}}">{{name}}</option>
        {{/each}}
    </select><br>
    Maximum Occupancy:<input type="number" name="maxOccupancy" value="{{rides.maxOccupancy}}"><br>
    Date Built:<input type="datetime" name="dateBuilt" value="{{rides.dateBuilt}}"><br>
    Length of ride (seconds):<input type="number" name="lengthSeconds" value="{{rides.lengthSeconds}}"><br>
    Speed MPH:<input type="number" name="speedMPH" value="{{rides.speedMPH}}"><br>
    Has a loop?:<input type="text" name="hasLoop" value="{{rides.hasLoop}}"><br>
    Height Restriction (feet):<input type="number" name="heightRestrictionFeet" value="{{rides.heightRestrictionFeet}}"><br>
</form>
<button onclick="updateRide({{rides.rideID}})">Update</button>
<script defer>selectParks({{ rides.parkID }});</script>

</html>