<html>
    <head>
    <title></title>
    {{#each styles}}
        <link rel="stylesheet" href="/styles/{{this}}">
    {{/each}}
    </head>
<h1>Update Ride Rating {{ridesrating.guestRideID}}:</h1>
<form id="update-riderating" action="/ridesrating" method="post">
    Select Guest: <select name="guestID" required>
        <option value="" disabled selected>Please Select Guest</option>
        {{#each guests}}
        <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Select Ride: <select  name="rideID" required>
        <option value="" disabled selected>Please Select Ride</option>
        {{#each rides}}
                <option value="{{id}}">{{id}} - {{name}}</option>
        {{/each}}
    </select><br>
    Ride DateTime: <input type="datetime-local" name="rideDateTime" value={{ridesrating.rideDateTime}} required><br>
    Rating: <select name="ratingValue">
            <option value="1" {{ridesrating.VAL1}}>1</option>
            <option value="2" {{ridesrating.VAL2}}>2</option>
            <option value="3" {{ridesrating.VAL3}}>3</option>
            <option value="4" {{ridesrating.VAL4}}>4</option>
            <option value="5" {{ridesrating.VAL5}}>5</option>
    </select><br></form>
<button onclick="updateRideRating({{ridesrating.guestRideID}})">Update</button>
<script defer>selectGuest({{ridesrating.guestID}});</script>
<script defer>selectRide({{ridesrating.rideId}});</script>


</html>