<html>
    <head>
    <title></title>
    {{#each styles}}
        <link rel="stylesheet" href="/styles/{{this}}">
    {{/each}}

    {{#each this}}
        {{log this}}    
    {{/each}}
    </head>
<h1>Update {{guests.guestID}} - {{guests.lastName}}, {{guests.firstName}}:</h1>
<form id="update-guest" action="/guests" method="post">
    First Name: <input type="text" name="firstName" value="{{guests.firstName}}"><br>
    Last Name: <input type="text" name="lastName" value="{{guests.lastName}}"><br>
    Age: <input type="number" name="age" value="{{guests.age}}"><br>
    Height (feet): <input type="number" name="heightFeet" value="{{guests.heightFeet}}"><br>
    Height (inches): <input type="number" name="heightInches" value="{{guests.heightInches}}"><br>
    Select Park:  <select name="parkID" id="park_selector" type="number">
        {{#each parks}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateGuest({{guests.guestID}})">Update</button>
<script defer>selectPark({{guests.parkID}});</script>

</html>