<html>
<h1>Update {{parks.name}}:</h1>
<form id="update-park" action="/parks" method="post">
    Name: <input type="text" name="name" value="{{rides.name}}"><br>
    Maximum Occupancy:<input type="number" name="maxOccupancy" value="{{rides.maxOccupancy}}"><br>
    Date Built:<input type="datetime" name="dateBuilt" value="{{rides.dateBuilt}}"><br>
</form>
<button onclick="updatePark({{parks.parkID}})">Update</button>
<script defer>selectParks({{ parks.parkID }});</script>

</html>